<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>

   <extension
         id="org.ncpdp.uml UMLProfiles"
         name="org.ncpdp.uml UMLProfiles"
         point="org.eclipse.gmf.runtime.emf.core.Pathmaps">
      <pathmap
            name="ORG_NCPDP_UML"
            plugin="org.ncpdp.uml.profile"
            path="profiles">
      </pathmap>
   </extension>
   <extension
         id="org.ncpdp.uml UMLProfiles"
         name="org.ncpdp.uml UMLProfiles"
         point="com.ibm.xtools.uml.msl.UMLProfiles">
      <UMLProfile
            name="org.ncpdp.uml"
            path="pathmap://ORG_NCPDP_UML/NCPDP.epx"
            visible="true"
            required="false"
            id="org.ncpdp.uml.profile.org.ncpdp.uml">
      </UMLProfile>
   </extension>


 <extension
         id="org.ncpdp.ecl UMLProfiles"
         name="org.ncpdp.ecl UMLProfiles"
         point="com.ibm.xtools.uml.msl.UMLProfiles">
      <UMLProfile
            name="org.ncpdp.ecl"
            path="pathmap://ORG_NCPDP_UML/ECL.epx"
            visible="true"
            required="false"
            id="org.ncpdp.uml.profile.org.ncpdp.ecl">
      </UMLProfile>
   </extension>
</plugin>
